.event-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto; /* centers the card */
  display: block; /* makes the card behave like a block */
  width: 100%; /* makes the card take up the full width */
}

.event-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.event-card h2 {
  color: #333;
  text-align: center; /* center aligns the title */
}

.event-card p {
  color: #666;
  text-align: center; /* center aligns the text */
}