.App {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
  background-color: aqua;
}

.main {
  grid-area: main;
  background-color: bisque;
}

.footer {
  grid-area: footer;
  background-color: darkblue;
}